@font-face{
    font-family: Oswald-Regular;
    src: url(../../assets/fonts/Oswald-Regular.ttf);
}

@font-face{
    font-family: Montserrat-Regular;
    src: url(../../assets/fonts/Montserrat-Regular.ttf);
}

@font-face{
    font-family: Montserrat-Bold;
    src: url(../../assets/fonts/Montserrat-Bold.ttf);
}

.container-main{
    display: flex;
    justify-content: center;
    height: 100%;
    width: inherit;
}

.content-l {
    max-width: 100%;
    padding: 5%;
    background: white;
}

.title-l{
    color: #48D1CC;
    text-shadow: 2px 2px 2px black;
    font-size: 3rem;
    font-family: Oswald-Regular;

}

.info{
    display: flex;
    text-align: center;
    margin-top: 2em;
}

.text{
    color: black;
    font-family: Montserrat-Regular;    
    font-size: 1.25em;
    text-align: justify;
}

.image-l{
    margin-left: 2%;
}

.helper {
    display: inline-block;
    height: 90%;
    vertical-align: middle;
}

.image-l img{
    vertical-align: middle;
}
@media (max-width: 900px) {


    .info{
        align-items: center;
        flex-wrap: wrap; /*função pra quebrar os elemntos*/

    }
    .text{
        font-size: 1em;
        width: 100%; 

    }
    
    .image-l{
        margin-left: auto;
        margin-right: auto;
    }
}