@font-face{
    font-family: Oswald-Regular;
    src: url(../../assets/fonts/Oswald-Regular.ttf);
}

@font-face{
    font-family: Montserrat-Regular;
    src: url(../../assets/fonts/Montserrat-Regular.ttf);
}

@font-face{
    font-family: Montserrat-Bold;
    src: url(../../assets/fonts/Montserrat-Bold.ttf);
}

.container__sobre{
    display: flex;
    justify-content: center;
    height: 100%;
    width: inherit;
}

.sobre1 {
    max-width: 100%;
    padding: 5%;
    background: #F5F5F5;
}

.title__sobre1{
    text-align: right;
    color: #48D1CC;
    text-shadow: 2px 2px 2px black;
    font-size: 3rem;
    font-family: Oswald-Regular;

}

.traco1{
  width: 5em;
  float:right;
  margin-right: 15px;
  box-shadow: 2px 2px 2px black;
  height: .5em;
  background: #48D1CC;
  border-radius: .2em;
}

.sobre__info{
    display: flex;
    text-align: center;
    margin-top: 2em;
}

.sobre__text1{
    color: black;
    font-family: Montserrat-Regular;    
    font-size: 1.25em;
    text-align: justify;
}

.sobre__image2{
    margin-right: 5%;
}

.helper {
    display: inline-block;
    height: 90%;
    vertical-align: middle;
}

.sobre__image2 img{
    vertical-align: middle;
    margin-right: 1.5em;
    border-radius: 45%; 
    float: left;
    shape-outside: ellipse();
}
@media (max-width: 900px) {


    .sobre__info{
        align-items: center;
        flex-wrap: wrap; /*função pra quebrar os elemntos*/

    }
    .sobre__text1{
        font-size: 1em;
        width: 100%; 

    }
}