html, body, #root {
    height: 100%;
    background: white;

}

.main {
    min-height: 100%; 
    display: flex;
    align-items: center;
}

.wrapper {
    width: 100%;
    min-height: 100vh;
    position: relative;
    display: table;
}