@font-face{
    font-family: Montserrat-SemiBold;
    src: url(../assets/fonts/Montserrat-SemiBold.ttf);
    
}

@font-face{
    font-family: Montserrat-Regular;
    src: url(../assets/fonts/Montserrat-Regular.ttf);
}

@font-face{
    font-family: Montserrat-Bold;
    src: url(../assets/fonts/Montserrat-Bold.ttf);
}

.navbar-toggler {
    width: 60px;

}

.icon {
    width: 35px;
    height: 5px;
    background-color: white;
    margin: 6px 0;
  }

.eon-navbar{
    background-color: transparent;
    padding: 7px 10px 0px 10px;
    font-family: Montserrat-SemiBold;
    font-size: 1.2em;
    transition: all 0.4s;
}

.eon-navbar-books{
    background-color: #48D1CC;
    padding: 7px 10px 0px 10px;
    font-family: Montserrat-SemiBold;
    font-size: 1.2em;
    transition: all 0.4s;
}

.navbar {
    border-top: 1px solid white;
}

.navbar-nav > li{
    padding-left:10px;
    padding-right:15px;
  }
  
.nav-text a {
    color: white;
    margin-right: 10px;
    transition: all .2s;
    text-shadow: 2px 2px 2px black;
}

.dropdown-menu {
    background-color: #48D1CC;
    transition: all .2s;
}

.dropdown-item:hover {
    background-color: #48D1CC;
}

.dropdown-menu button a{
    padding: 1em;
    color: white;
    margin-right: 10px;
    transition: all .2s;
}

.dropdown-menu button a:hover{
    color: #D3D3D3;
    border-bottom: 2px solid #D3D3D3;
}
  
.nav-text-books a {
    color: white;
    margin-right: 10px;
    transition: all .2s;
}

.nav-text a:hover {
    color: #D3D3D3;
    border-bottom: 2px solid #D3D3D3;
}

.nav-text-books a:hover {
    color: #D3D3D3;
    border-bottom: 2px solid #D3D3D3;
}

@keyframes nav{
    from{
        opacity: 1;
    }to{
        opacity: 0.7;
    }
}

@media all and (max-width: 1024px) {
    .eon-navbar{
        font-size: 0.9em;
    }

    .eon-navbar-books{
        font-size: 0.9em;
    }
  
    .navbar-nav > li{
        padding-left:5px;
        padding-right:12px;
  }
}