@font-face{
    font-family: Oswald-Regular;
    src: url(../../assets/fonts/Oswald-Regular.ttf);
}

@font-face{
    font-family: Montserrat-Regular;
    src: url(../../assets/fonts/Montserrat-Regular.ttf);
}

@font-face{
    font-family: Montserrat-Bold;
    src: url(../../assets/fonts/Montserrat-Bold.ttf);
}

.container__sobre{
    display: flex;
    justify-content: center;
    height: 100%;
    width: inherit;
}

.sobre {
    max-width: 100%;
    padding: 5%;
    background: white;
}

.title__sobre{
    color: #48D1CC;
    text-shadow: 2px 2px 2px black;
    font-size: 3rem;
    font-family: Oswald-Regular;

}

.sobre__info{
    display: flex;
    text-align: center;
    margin-top: 2em;
}

.sobre__text{
    color: black;
    font-family: Montserrat-Regular;    
    font-size: 1.25em;
    text-align: justify;
}

.sobre__image{
    margin-left: 2%;
}

.helper {
    display: inline-block;
    height: 90%;
    vertical-align: middle;
}

.sobre__image img{
    vertical-align: middle;
}
@media (max-width: 900px) {


    .sobre__info{
        align-items: center;
        flex-wrap: wrap; /*função pra quebrar os elemntos*/

    }
    .sobre__text{
        font-size: 1em;
        width: 100%; 

    }
}